@use "../themes/desert-fruit" as desertFruit;
@use "../themes/neon-mountain" as neonMountain;
@use "../themes/funky-corals" as funkyCorals;
@use "../themes/snowy-snow" as snowySnow;
@use "../themes/flower-power" as flowerPower;
@use "../themes/main-theme" as mainTheme;

.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin-top: 8rem;
}

.hero__grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "MabryPro-Regular";
  margin-bottom: 3rem;

  .h1-main {
    font-family: "BLACK emerson";
    font-size: var(--f-xl);
    color: mainTheme.$h1;
    text-transform: uppercase;
    align-self: center;
  }

  .header-text {
    align-self: center;
    margin-bottom: 7rem;
    font-size: 1.25rem;
  }

  .search {
    display: grid;
    grid-template-columns: 2rem 1fr 3rem;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2rem;
  }

  .search i {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    z-index: 5;
    justify-self: center;
    line-height: 3rem;
    padding-left: 1rem;
    height: 3rem;
  }

  .search input {
    height: 3rem;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    padding-left: 3rem;
    padding-right: 1rem;
    border: 2px solid var(--clr-black);
    outline: none;
  }

  .search button {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
    z-index: 5;
    height: 3rem;
    width: 5rem;
    background-color: mainTheme.$header;
    border: 2px solid var(--clr-black);
    cursor: pointer;
  }

  .filter__menu-desktop {
    display: flex;
    gap: 2.25rem;
  }

  .filter__btn {
    font-family: "MabryPro-Regular";
    transition: 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.3;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    color: mainTheme.$c-black;
  }

  .filter__btn.active {
    background-color: mainTheme.$border;
    outline: 1px solid var(--clr-black);
  }

  .filter__btn:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem 0rem var(--clr-black);
    background-color: mainTheme.$border;
    outline: 1px solid var(--clr-black);
  }

  .filter__menu-btn {
    display: none;
  }

  &[data-theme="desert-fruit"] {
    .h1-main {
      color: desertFruit.$h1;
    }

    .search button {
      background-color: desertFruit.$secondary-color;
    }

    .filter__btn {
      color: desertFruit.$c-black;
    }

    .filter__btn.active,
    .filter__btn:hover {
      background-color: desertFruit.$header;
    }
  }

  &[data-theme="neon-mountain"] {
    .h1-main {
      color: neonMountain.$h1;
    }
    .header-text {
      color: neonMountain.$c-white;
    }
    .search button {
      background-color: neonMountain.$header;
    }

    .filter__btn {
      color: neonMountain.$c-white;
    }

    .filter__btn.active,
    .filter__btn:hover {
      background-color: neonMountain.$c-grey;
      outline: 1px solid neonMountain.$header;
    }
  }

  &[data-theme="funky-corals"] {
    .h1-main {
      color: funkyCorals.$c-black;
    }

    .search button {
      background-color: funkyCorals.$secondary-color;
    }

    .filter__btn {
      color: funkyCorals.$c-black;
    }

    .filter__btn.active,
    .filter__btn:hover {
      background-color: funkyCorals.$header;
    }
  }

  &[data-theme="snowy-snow"] {
    .h1-main {
      color: snowySnow.$h1;
    }

    .search button {
      background-color: snowySnow.$secondary-color;
    }

    .filter__btn {
      color: snowySnow.$c-black;
    }

    .filter__btn.active,
    .filter__btn:hover {
      background-color: snowySnow.$header;
    }
  }

  &[data-theme="flower-power"] {
    .h1-main {
      color: flowerPower.$h1;
    }

    .search button {
      background-color: flowerPower.$secondary-color;
    }

    .filter__btn {
      color: flowerPower.$c-black;
    }

    .filter__btn.active,
    .filter__btn:hover {
      background-color: flowerPower.$header;
    }
  }
}

#searchContainer,
#filterContainer {
  display: none;
}

@media (max-width: 56em) {
  .hero__grid {
    grid-template-columns: 80% 1fr;

    .search {
      width: 80%;

      button {
        display: none;
      }
    }

    .filter__menu-desktop {
      display: none;
    }

    .filter__menu,
    .filter__menu-btn {
      display: block;
      font-family: "MabryPro-Regular";
      grid-area: topr;
    }

    .mobile-filter-row {
      display: flex;
      gap: 1rem;
    }

    .filter__menu-btn {
      width: 4rem;
      height: 3rem;
      background-color: mainTheme.$header;
      border: 2px solid mainTheme.$c-black;
      color: mainTheme.$c-black;
      position: relative;
      margin-left: auto;

      .filter__menu {
        list-style: none;
        position: fixed;
        height: 100%;
        width: 14rem;
        top: 4.8rem;
        padding-top: 3rem;
        left: -14rem;
        border-right: 3px solid var(--clr-black);
        background-color: mainTheme.$header;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        z-index: 20;
        transition: ease-in 0.2s;
        color: mainTheme.$c-black;
      }

      .filter__menu.active {
        left: 0;
      }
      .filter__menu li {
        border-bottom: 1px solid var(--clr-black);
        cursor: pointer;
        width: 80%;
        text-align: center;
        padding-bottom: 1.5rem;
        color: mainTheme.$c-black;
      }
    }
  }
}

@media (max-width: 30em) {
  .container {
    padding-inline: 1.5rem;
  }
}

[data-theme="desert-fruit"] {
  .filter__menu-btn,
  .filter__menu,
  .filter__menu.active {
    background-color: desertFruit.$header;
  }
}
[data-theme="neon-mountain"] {
  .filter__menu-btn,
  .filter__menu,
  .filter__menu.active {
    background-color: neonMountain.$header;
  }
}
[data-theme="funky-corals"] {
  .filter__menu-btn,
  .filter__menu,
  .filter__menu.active {
    background-color: funkyCorals.$header;
  }
}
[data-theme="snowy-snow"] {
  .filter__menu-btn,
  .filter__menu,
  .filter__menu.active {
    background-color: snowySnow.$header;
  }
}
[data-theme="flower-power"] {
  .filter__menu-btn,
  .filter__menu,
  .filter__menu.active {
    background-color: flowerPower.$header;
  }
}
