@mixin customLinkStyle($borderWidth: 3px) {
    cursor: pointer;
    color: var(--clr-black);
    border: $borderWidth solid var(--clr-black);
    text-decoration: none;
  }
  
@mixin flexContainer($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
  }

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
  