@font-face {
    font-family: 'RANG2';
    src: url('../../assets/fonts/RANG2.woff2') format('woff2');
}

@font-face {
    font-family: 'BLACK emerson';
    src: url('../../assets/fonts/BLACK\ emerson.woff2') format('woff2');
}

@font-face {
    font-family: 'BasementGrotesque';
    src: url('../../assets/fonts/BasementGrotesque.woff2') format('woff2');
}

@font-face {
    font-family: 'MabryPro-Regular';
    src: url('../../assets/fonts/MabryPro-Regular.woff2') format('woff2');
}