:root {
    --clr-black: #000;
    --clr-white: #FFF;
    --f-xl: clamp(4rem, 2.111111111111111rem + 4.444444444444445vw, 6.5rem);
    --f-la: clamp(2rem, 2.111111111111111rem + 4.444444444444445vw, 4rem);
    --f-m: 1.5rem;
    --f-s: 1rem;
    --f-xs: 0.875rem;
}