@use "../base/globals.scss";
@use "../themes/neon-mountain.scss" as neonMountain;
@use "../themes/desert-fruit" as desertFruit;
@use "../themes/funky-corals" as funkyCorals;
@use "../themes/snowy-snow" as snowySnow;
@use "../themes/flower-power" as flowerPower;

body {
  background-color: desertFruit.$body;

  .showMoreBtn {
    display: flex;
    justify-self: center;
    font-family: "MabryPro-Regular";
    margin: auto;
    background-color: desertFruit.$header;
    padding: 1.75rem 3.5rem;
    border: 3px solid var(--clr-black);
    margin-bottom: 5rem;
    transition: 0.2s ease;
    cursor: pointer;
  }

  .showMoreBtn:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.3rem 0.3rem 0rem var(--clr-black);
  }

  footer {
    background-color: desertFruit.$footer;
    height: 28rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: "MabryPro-Regular";

    .footer__content {
      max-width: 64rem;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr 1fr;
      gap: 4rem;
      margin: 0 5rem;
    }

    .socials {
      grid-row: 2;
      list-style: none;
      display: flex;
      gap: 1rem;
      cursor: pointer;
    }

    .socials > *:hover {
        font-style: italic;
    }

    .author {
      grid-row: 2;
      justify-self: flex-end;
    }

    .slogan {
      font-family: "RANG2";
      font-size: 2.6rem;
      max-width: 32rem;
    }

    .footer-logo {
      width: 8rem;
      justify-self: flex-end;
    }
  }

  &[data-theme="neon-mountain"] {
    background-color: neonMountain.$body;

    .showMoreBtn {
      background-color: neonMountain.$secondary-color;
    }

    footer {
      background-color: neonMountain.$footer;
      .footer__content {
        .footer-logo-clr {
            fill: neonMountain.$secondary-color;
        }
      }
    }
  }
  &[data-theme="funky-corals"] {
    background-color: funkyCorals.$body;

    .showMoreBtn {
      background-color: funkyCorals.$secondary-color;
    }

    footer {
      background-color: funkyCorals.$footer;
      .footer__content {
        .footer-logo-clr {
            fill: funkyCorals.$secondary-color;
        }
      }
    }
  }
  &[data-theme="snowy-snow"] {
    background-color: snowySnow.$body;

    .showMoreBtn {
      background-color: snowySnow.$secondary-color;
    }

    footer {
      background-color: snowySnow.$footer;
      .footer__content {
        .footer-logo-clr {
            fill: snowySnow.$secondary-color;
        }
      }
    }
  }
  &[data-theme="flower-power"] {
    background-color: flowerPower.$body;

    .showMoreBtn {
      background-color: flowerPower.$secondary-color;
    }

    footer {
      background-color: flowerPower.$footer;
      .footer__content {
        .footer-logo-clr {
            fill: flowerPower.$secondary-color;
        }
      }
    }
  }
}

@media (max-width: 56em) {
  body {
    footer {
    
      .footer__content {
        gap: 2rem;

        .slogan {
          max-width: 26rem;
          font-size: 2rem;
        }

        .footer-logo {
          width: 4rem;
        }

        .author {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 36em) {
  body {
    footer {
      height: 38rem;

      .footer__content {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      .footer-bdiddy {
        font-size: 2.9rem;
      }

      .footer__content p {
        grid-row: 1;
        font-size: 1.5rem;
      }

      .footer-logo {
        grid-row: 2;
        justify-self: center;
      }

      .socials {
        grid-row: 3;
        justify-self: center;
      }

      .author {
        grid-row: 4;
        justify-self: center;
      }
    }
  }
}

@media (max-width: 36em) {
    body {
      footer {
        height: 38rem;
  
        .footer__content {
          grid-template-columns: 100%;
          grid-template-rows: 1fr 1fr 1fr 1fr;
        }
   
        .slogan div {
            font-size: 2rem;
            text-align: center;
        }
  
        .footer-logo {
          grid-row: 2;
          justify-self: center;
        }
  
        .socials {
          grid-row: 3;
          justify-self: center;
        }
  
        .author {
          grid-row: 4;
          justify-self: center;
        }
      }
    }
  }