@use "../themes/main-theme" as mainTheme;
@use "../utils/mixins" as mixins;

.main-login {
  position: relative;
  @include mixins.flexCenter();
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  background-color: mainTheme.$body;
  font-family: "MabryPro-Regular";
  opacity: 0.8;
  background-size: 80px 80px;
  background-image: repeating-linear-gradient(
    to right,
    #000000,
    #000000 2px,
    #fceee3 1px,
    #fceee3
  );

  .home-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.75rem 1rem;
    background-color: mainTheme.$body;
    @include mixins.customLinkStyle(2px);

    &:hover {
      font-style: italic;
    }
  }
}

.box {
  margin-top: 4rem;
  max-width: 64rem;
  width: 100%;
  height: 40rem;
  background-color: mainTheme.$primary-color;
  filter: drop-shadow(12px 12px 0px #000);
  position: relative;
  border: var(--clr-black) 3px solid;
}

.inner-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  transition: 0.8s ease-in-out;
}

.welcome-box {
  position: absolute;
  height: 100%;
  width: 55%;
  top: 0;
  left: 45%;
  background-color: mainTheme.$secondary-color;
  transition: 0.8s ease-in-out;
  @include mixins.flexCenter();

  svg {
    width: 9rem;
    padding-bottom: 5rem;
  }

  .login-front-logo {
    fill: #ea4c89;
  }
}

.login-toggle {
  cursor: pointer;
  font-weight: 700;
}

.login-form,
.register-form {
  @include mixins.flexCenter(column);
  gap: 2rem;

  p {
    opacity: 0.8;
    margin: 0.2rem 2rem 1.25rem;
    text-align: center;
  }
}

.login-form {
  @include mixins.flexCenter(column);
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  gap: 2rem;
  padding-bottom: 4rem;
}

.login-error-msg,
.register-error-msg {
  max-width: 22rem;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.error-message,
.reg-error-message {
  display: none;
}

.forms-wrap form {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.forms-wrap form.register-form {
  opacity: 0;
  pointer-events: none;
}

.login-header h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.login-logo {
  width: 52px;
}

.actual-form,
.input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrap {
  margin: 8px 0;
}

.input-wrap label {
  text-align: left;
  justify-self: flex-start;
  align-self: start;
  margin-bottom: 5px;
  padding-left: 5px;
}

.input-wrap input {
  height: 2rem;
  padding-left: 1rem;
  border: 2px solid var(--clr-black);
  outline: none;
  filter: drop-shadow(5px 5px 0px #000);
}

.login-btn {
  background-color: #ff91e8;
  color: var(--clr-black);
  margin: 1rem 0;
  border: 2px solid var(--clr-black);
  outline: none;
  cursor: pointer;
  text-align: center;
  width: 160px;
  height: 50px;
  transition: 0.2s ease;
}

.login-btn:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem 0rem var(--clr-black);
  outline: 1px solid var(--clr-black);
}

.main-login.active .forms-wrap form.login-form {
  opacity: 0;
  pointer-events: none;
}

.main-login.active .forms-wrap form.register-form {
  opacity: 1;
  pointer-events: all;
}

.main-login.active .forms-wrap {
  left: 55%;
}
.main-login.active .welcome-box {
  left: 0;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid var(--clr-black);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 53.125em) {
  .main-login {
    .home-btn {
      top: 0.6rem;
      right: 1rem;
    }
  }
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
  }

  .forms-wrap,
  .welcome-box {
    position: revert;
    width: 100%;
    height: auto;
  }

  .welcome-box {
    svg {
      width: 3rem;
      padding-bottom: 0;
    }
  }

  .forms-wrap form {
    max-width: revert;
    height: 650px;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .forms-wrap form.register-form {
    transform: translateX(100%);
  }

  .main-login.active .login-form {
    transform: translateX(-100%);
  }

  .main-login.active .register-form {
    transform: translateX(0%);
  }
}
