@use "../themes/main-theme" as mainTheme;
@use "../utils/mixins" as mixins;

body.modal-open {
  overflow: hidden;
}

dialog::backdrop {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-main {
  @include mixins.flexCenter();
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  background-color: mainTheme.$body;
  font-family: "MabryPro-Regular";
  position: relative;

  .delete-modal {
    display: none;
    position: fixed;
    top: 40%;
    margin: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: mainTheme.$star;
    border: 3px solid var(--clr-black);
    padding: 2rem;
    width: 18rem;
    text-align: center;

    p {
      margin-bottom: 10px;
    }

    button {
      @include mixins.customLinkStyle(2px);
      padding: 0.5rem 1rem;
      outline: none;
      margin-bottom: 1.25rem;
      transition: 0.2s ease;
      background-color: mainTheme.$header;

      &:hover {
        transform: translate(-3px, -3px);
        box-shadow: (3px 3px var(--clr-black));
      }
    }
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    animation: fade-in 0.5s;
    z-index: 9;

    .overlay-x {
      font-size: 42px;
      color: var(--clr-white);
      position: absolute;
      top: 15%;
      left: 92%;
      z-index: 40;
      cursor: pointer;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .profile-img-modal {
    height: 14rem;
    width: 24rem;
    background-color: mainTheme.$star;
    position: relative;

    .profile-img-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2.5rem;

      [data-modal] {
        display: none;
      }

      [data-close-modal] {
        position: absolute;
        top: -2px;
        right: -2px;
        background-color: mainTheme.$header;
      }

      label {
        margin-bottom: 1.5rem;
      }

      button {
        background-color: mainTheme.$header;
        cursor: pointer;
      }

      input,
      button {
        padding: 0.5rem 1rem;
        outline: none;
        border: 2px solid var(--clr-black);
        color: var(--clr-black);
        margin-bottom: 1.25rem;
        transition: 0.2s ease;
        &:focus {
          transform: translate(-5px, -5px);
          box-shadow: (5px 5px var(--clr-black));
        }
      }
    }
  }
  [data-modal].modal-visible {
    display: block;
  }
  .profile-section {
    margin: 5rem 0;
    max-width: 84rem;
    width: 100%;
    height: auto;
    background-color: mainTheme.$border;

    .profile-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      border-bottom: 3px solid var(--clr-black);
      padding: 2rem;

      .profile-img-container {
        position: relative;

        .edit-button {
          position: absolute;
          top: 92%;
          right: 38%;
          padding: 0.25rem 0.85rem;
          font-size: 14px;
          background-color: mainTheme.$star;
          outline: none;
          border: 1px solid var(--clr-black);
          color: var(--clr-black);
          cursor: pointer;
        }
      }

      .profile-img {
        border-radius: 100%;
        width: 16rem;
        height: 16rem;
        object-fit: cover;
      }

      .email {
        text-decoration: none;
        color: var(--clr-black);
      }

      .name {
        font-size: 2rem;
        font-family: "BasementGrotesque";
        text-align: center;
        padding-top: 1rem;
      }

      .info-list li {
        list-style: none;
        margin-top: 1rem;
      }

      .funds {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
    .current {
      background-color: mainTheme.$star;
    }
    .listings {
      background-color: mainTheme.$secondary-color;
    }

    .card-article {
      padding: 2rem 4rem;
      border-bottom: 3px solid var(--clr-black);

      h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
      }

      .profile-card-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 13rem));
        gap: 2rem;

        .profile-card {
          height: 20rem;
          width: 100%;
          transition: 0.2s ease;
          text-decoration: none;
          background-color: mainTheme.$primary-color;

          &:hover {
            transform: translate(-0.25rem, -0.25rem);
            box-shadow: 0.25rem 0.25rem 0rem var(--clr-black);
          }

          img {
            height: 45%;
            width: 100%;
            object-fit: cover;
            border-bottom: 3px solid var(--clr-black);
          }
          div {
            text-align: left;
            height: 40%;
            padding: 1rem;
            font-size: 1.25rem;
            font-family: "BasementGrotesque";
            color: var(--clr-black);
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .btn-container {
            height: 15%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 0.5rem;

            a {
              padding: 5px 8px;
              outline: 2px solid var(--clr-black);
              font-size: 14px;
              text-decoration: none;
              color: var(--clr-black);
              cursor: pointer;
              width: 4.85rem;
              text-align: center;
              line-height: 20px;
              &:hover {
                font-style: italic;
              }
            }
            .deleteBtn {
              background-color: mainTheme.$header;
            }
            .viewBtn {
              background-color: mainTheme.$star;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 42rem) {
  .profile-main {
    .profile-img-modal {
      width: 80%;
    }
    .profile-section {
      .card-article {
        padding: 2rem 2rem;

        .profile-card-container {
          grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }
      }

      .profile-info {
        flex-direction: column;
        gap: 1rem;
      }
    }

    #overlay {
      .overlay-x {
        font-size: 42px;
        color: var(--clr-white);
        position: absolute;
        top: 15%;
        left: 88%;
        z-index: 40;
      }
    }
  }
}
