@use "../themes/main-theme" as mainTheme;

.profile-body {
    background-color: #FCEEE3;
    background-size: 80px 80px;
  background-image: repeating-linear-gradient(
    to right,
    #000000,
    #000000 2px,
    #fceee3 1px,
    #fceee3
  );
}

.profile-section {
    width: 80%;
    padding-top: 2rem;
    background-color: mainTheme.$primary-color;
    height: auto;
    margin-inline: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    
    // gap: 8rem;

    .profile-box {
        font-family: 'MabryPro-Regular';
        width: 30%;
        filter: drop-shadow(10px 10px 0px #000);
        
         > *  {
            border: 3px solid var(--clr-black);
            border-top: none;
        }

        img {
            // margin: 1rem 0 0 1rem;
            width: 100%;
            object-fit: cover;
            height: auto;
            border-top: 3px solid var(--clr-black);
        }

        .profile-name {
            background-color: mainTheme.$secondary-color;
            padding: 1.75rem;
            text-align: center;
            font-size: var(--f-m);
            font-weight: 600;
        }
        .profile-info {
            background-color: mainTheme.$border;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-weight: 600;
        }
    }

    h1,
    h2 {
        font-family: 'RANG2';
        font-size: var(--f-m);
        text-align: center;
        padding: 1.5rem 2.5rem;
        background-color: mainTheme.$header;
        margin-bottom: 1rem;
        
    }

    h2 {
        background-color: mainTheme.$star;
    }

    .your-bids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3rem;
        gap: 1rem;
    }

    .card {
        aspect-ratio: 1 / 1.5;
        max-height: 300px;
        border: 3px solid mainTheme.$c-black;
        background-color: mainTheme.$primary-color;
        cursor: pointer;
        display: grid;
        grid-template-rows: 45% 35% 20%;
        grid-template-areas:
          "image"
          "details"
          "price";
  
        &__img {
          aspect-ratio: 1 / 1;
          grid-area: image;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
  
        &__details {
          background-color: mainTheme.$primary-color;
          display: flex;
          flex-direction: column;
          padding: 0.3rem 0.3rem 0 0.5rem;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
  
        .card__details > * {
          color: mainTheme.$c-black;
          grid-area: details;
        }
  
        .card__details h3 {
          font-family: "BasementGrotesque";
          font-size: var(--f-m);
          text-transform: uppercase;
          max-height: 3rem;
          overflow: inherit;
          white-space: normal;
          text-overflow: ellipsis;
          margin: 0;
          width: 100%;
          overflow-wrap: normal;
          word-wrap: unset;
        }
  
        .card__details div {
          font-family: "MabryPro-Regular";
        }
  
        .card__details > div:first-child {
          font-size: var(--f-xs);
          padding-bottom: 0.4rem;
        }
  
        .card__details > div:last-child {
          margin-top: auto;
        }
  
        .card__price {
          background-color: mainTheme.$secondary-color;
          border-top: 1.25rem solid mainTheme.$border;
          grid-area: price;
          font-family: "BasementGrotesque";
          font-size: var(--f-m);
          justify-content: space-between;
          align-items: center;
          padding: 0 1.25rem;
        }
  
        .arrow {
          width: 1.75rem;
  
          fill: black;
        }
  
        .arrow:hover {
          transform: rotate(-45deg);
          transition: ease-in-out 0.2s;
          cursor: pointer;
        }
    }
}