$primary-color: #CEB8A2;
$secondary-color: #F05542;
$body: #bb9c7e;
$border: #FED354;
$grey: #292929;
$h1: #000; 
$header: #00AF79;
$marquee: #00AF79;
$footer: #CEB8A2;
$star: #FED354;
$c-black: #000;
$c-white: #FFF;
$ball: #FFF;