$primary-color: #FFC567;
$secondary-color: #009A5E;
$body: #FC7DA8;
$border: #552CB8;
$green: #009A5E;
$grey: #292929;
$h1: #552CB8; 
$header: #FFC567;
$marquee: #552CB8;
$footer: #FFC567;
$star: #FFC567;
$c-black: #191516;
$c-white: #FFF;
$ball: #FFF;