$primary-color: #70dacf;
$secondary-color: #E975A6;
$body: #4EB6B5;
$border: #4C6091;
$grey: #292929;
$h1: #FFEACB; 
$header: #FFC857;
$marquee: #4C6091;
$footer: #70dacf;
$star: #FFC857;
$c-black: #191516;
$c-white: #FFF;
$ball: #FFF;