$primary-color: #F9F5F2;
$secondary-color: #23A79A;
$body: #FCEEE3;
$border: #91A8EC;
$grey: #292929;
$h1: #000; 
$header: #FF91E7;
$marquee: #00AF79;
$footer: #CEB8A2;
$star: #F6CB44;
$c-black: #000;
$c-white: #FFF;
$ball: #FFF;