$primary-color: #D9D9D9;
$secondary-color: #FF687D;
$body: #56555B;
$border: #3E99F1;
$c-grey: #333030;
$h1: #FFF;
$header: #D9D9D9;
$footer: #D9D9D9;
$marquee: #D9D9D9;
$star: #FFF764;
$c-black: #000;
$c-white: #FFF; 