$primary-color: #FFFFFF;
$secondary-color: #3E99F1;
$body: #FFFFFF;
$border: #BBBBBB;
$grey: #292929;
$h1: #1677d1; 
$header: #5fb2ff;
$marquee: #3E99F1;
$footer: #3E99F1;
$star: #FFC857;
$c-black: #191516;
$c-white: #FFF;
$ball: #FFF;